body{
    padding: 0px;
    margin: 0px;
}
fieldset{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.767);
}
label{
    padding: 10px;
    font-size: 20px;
    color:white;
}
h1{
    text-align: center;
}
i{
    font-size: 20px;
    padding: 20px;
    color:white;
}
legend{
    border:1px solid black;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
}
.text{
    color: rgba(255, 255, 255, 0.479);
}
form{
    border: 1px solid black;
    width:500px;
    margin: 70px 400px;
    padding: 50px;
    background-color: rgba(137, 43, 226, 0.459);
}